@model taka.Models.Enitities.User

@{
    ViewBag.Title = "Takasa";
    Layout = "~/Views/User/_LayoutUser.cshtml";
}

<body>
    <div class="user-page-brief">
        <h3>Hồ Sơ Của Tôi</h3>
    </div>
    <div>
        <table class="table" style="vertical-align:auto">
            <tr>
                <th>Họ Tên</th>
                <td>@Model.Fullname</td>
            </tr>
            <tr>
                <th>Ngày Sinh</th>
                @if (!Model.Birthday.Equals(taka.Utils.C.DEFAULT_USER_VALUE.BIRTHDAY))
                {
                    <td>@DateTime.Parse(Model.Birthday.ToString()).ToString("dd/MM/yyyy")</td>
                }
                else
                {
                    <td>Chưa cập nhật</td>
                }
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            @if (!Model.Phone.Equals(Model.Email))
            {
                <tr>
                    <th>Số điện thoại</th>
                    <td>@Model.Phone</td>

                </tr>
            }
            <tr>
                <th>Giới Tính</th>
                <td>@Model.Gender</td>
            </tr>
        </table>
    </div>


</body>

