@model  taka.Models.Enitities.Book

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@RenderPage("~/Views/Shared/ModalDelete.cshtml")

<p>
    <div class="row">
        <a href="/Home?cate=@Model.idCategory" style="color:dimgray">
            @Model.Category.Name
        </a>
        <div class="ml-1"> > @Model.Title</div>
    </div>
</p>
<hr />
<div class="row">
    <div class="col-7 row">
        <div class="col-3" style="overflow-x:hidden;overflow-y:auto;height:650px;">
            @foreach (var img in Model.Images.ToList())
            {
                <img onmouseout="onMoveOutMouseOfImageItem();" onmousemove="onMoveMouseToImageItem('@img.Url','image_item_@img.ID');" id="image_item_@img.ID" src="@img.Url" style="width:100px;height:100px; object-fit:cover;" class="col ml-3 mt-1" />
            }
        </div>
        <img class="col-9" src="@Model.Images.First().Url" style="object-fit:contain" id="main_image" />

    </div>
    <div class="col-5">
        <h2>
            @Model.Title
        </h2>
        <h1 style="color:#ee4d2d">
            @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", Model.Price) đ
        </h1>
        <hr />
        <p>
            <h5>Chi tiết sách</h5>
        </p>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nhà xuất bản</th>
                    <td>@Model.Publisher.Name</td>
                </tr>
                <tr>
                    <th>Tác giả</th>
                    <td>@Model.Author.Name</td>
                </tr>
                <tr>
                    <th>Thể loại</th>
                    <td>@Model.Category.Name</td>
                </tr>
                <tr>
                    <th>Số trang</th>
                    <td>@Model.Page</td>
                </tr>
                <tr>
                    <th>Số lượng</th>
                    <td>@Model.Quantity</td>
                </tr>
                <tr>
                    <th>Hình thức</th>
                    <td>@Model.Type.Name</td>
                </tr>
                <tr>
                    <th>Ngôn ngữ</th>
                    <td>@Model.Language.Name</td>
                </tr>
                <tr>
                    <th>Ngày nhập</th>
                    <td>@Model.Date</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <div class="row col">
            <button type="button" onclick="updateBook()" class="btn col p-3 m-3" style="background-color:white;color:#ee4d2d; border:3; border-color:#ee4d2d">Cập nhật thông tin</button>
            <button type="button" onclick="showDeleteModal()" class="btn col p-3 m-3" style="background-color:#ee4d2d; color:white; border:3; border-color:#ee4d2d">Xoá</button>
        </div>
    </div>
</div>
<hr />
<p>
    <h5>
        Mô tả sách
    </h5>
</p>
<div class="p-3">
    <p>
        @Model.Description
    </p>
</div>

<script>

        const updateBook = () => {
            window.location.href = '/Home/Edit?id=@Model.ID';
        }
        const showDeleteModal = () => {
            $("#modalDelete").modal('show');
        }
</script>

@if (Session["isLogin"] == null)
{
    TempData["RequireLogin"] = true;
    <script>
        let showDeleteModal = () => {
            document
                .getElementById("message").textContent = "Vui lòng đăng nhập";
            showMessage()
        }
        let updateBook = () => {
            showDeleteModal();
        }

    </script>
}
<script>
    let selectImgId = -1;
    const onMoveMouseToImageItem = (url, id) => {
        let oldUrl = $("#main_image")[0].src;
        if (oldUrl != url)
            $("#main_image")[0].src = url;
        if (selectImgId != id) {
            $('#' + id).css('border', '2px solid #ee4d2d')
            selectImgId = id
        }
    }
    const onMoveOutMouseOfImageItem = () => {
        if (selectImgId != -1) {
            $('#' + selectImgId).css('border', '0px')
            selectImgId = -1
        }
    }
</script>
