@model  taka.Models.Enitities.Book

@{
    ViewBag.Title = Model.TEN_DAU_SACH;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@RenderPage("~/Views/Shared/ModalDelete.cshtml")

<p>
    <div class="row">
        <a href="/Home?cate=@Model.MA_THE_LOAI" style="color:dimgray">
            @Model.THE_LOAI.TEN_THE_LOAI
        </a>
        <div class="ml-1"> > @Model.TEN_DAU_SACH</div>
    </div>
</p>
<hr />
<div class="row">
    <img class="col" src="@Model.BIA_SACH" style="max-width:45%" />
    <div class="col">
        <h2>
            @Model.TEN_DAU_SACH
        </h2>
        <h1 style="color:#ee4d2d">
            @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", Model.GIA_TRI) đ
        </h1>
        <hr />
        <p>
            <h5>Chi tiết sách</h5>
        </p>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nhà xuất bản</th>
                    <td>@Model.NHA_XUAT_BAN.TEN_NHA_XUAT_BAN</td>
                </tr>
                <tr>
                    <th>Tác giả</th>
                    <td>@Model.TAC_GIA.TEN_TAC_GIA</td>
                </tr>
                <tr>
                    <th>Thể loại</th>
                    <td>@Model.THE_LOAI.TEN_THE_LOAI</td>
                </tr>
                <tr>
                    <th>Số trang</th>
                    <td>@Model.SO_TRANG</td>
                </tr>
                <tr>
                    <th>Số lượng còn lại</th>
                    <td>@Model.SO_LUONG_CON_LAI / @Model.TONG_SO_LUONG</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <div class="row col">
            <a href="/Home/Edit?id=@Model.MA_DAU_SACH" class="btn col p-3 m-3" style="background-color:white;color:#ee4d2d; border:3; border-color:#ee4d2d">Cập nhật thông tin</a>
            <a href="/Home/Delete?id=@Model.MA_DAU_SACH" class="btn col p-3 m-3" style="background-color:#ee4d2d;color:white; border:3; border-color:#ee4d2d">Xoá</a>
        </div>
    </div>
</div>
<hr />
<p>
    <h5>
        Mô tả sách
    </h5>
</p>
<div class="p-3">
    <p>
        @Model.MO_TA_SACH
    </p>
</div>
<script>
    if (document.getElementById("deleteModalMessageHidden").textContent.trim().length > 0) {
        setTimeout(() => {
            $("#modalDelete").modal('show');
        }, 300)
    }
    const hideDeleteModal = () => {
        $("#modalDelete").modal('hide');
    }
</script>