@model  taka.Models.Enitities.Book

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" method="post" action="/Home/EditBook" enctype="multipart/form-data">
    <h4>Cập nhật thông tin</h4>
    <hr />
    <p>
        <h5>Ảnh bìa sách</h5>
    </p>
    <div class="" style="overflow-x:auto;height:320px;flex-direction:row;display:flex">
        @foreach (var img in Model.Images.ToList())
        {
            <div class="m-3" style="border:1px solid #ee4d2d">
                <label for="file-input-@img.ID">
                    <img src="@img.Url" onmouseover="onFocusImg('@img.ID')" onmouseout="onBlurImg()" id="imgBiaSach_@img.ID" style="height:250px;width:250px;object-fit:contain;text-align:center;" />
                </label>
                <input id="file-input-@img.ID" name="BIA_SACH" type="file" hidden />
            </div>
        }
    </div>
    <input class="form-control" name="MA_DAU_SACH" value="@Model.ID" hidden />
    <div class="col">
        <div class="col">
            <div class="form-group">
                <label>Tên đầu sách</label>
                <input type="text"
                       class="form-control"
                       name="Title"
                       id="Title"
                       value="@Model.Title"
                       required
                       oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Vui lòng nhập đủ thông tin')" />
            </div>
            <div class="form-group">
                <label>Giá tiền</label>
                <input type="number"
                       class="form-control"
                       name="Price"
                       id="Price"
                       value="@Model.Price"
                       required
                       oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Vui lòng nhập đủ thông tin')" />
            </div>
            <div class="form-group">
                <label>Thể loại</label>
                @Html.DropDownList("idCategory", new SelectList(ViewBag.listCategories, "ID", "Name"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Tác giả</label>
                @Html.DropDownList("idAuthor", new SelectList(ViewBag.listAuthors, "ID", "Name"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Nhà xuất bản</label>
                @Html.DropDownList("idPublisher", new SelectList(ViewBag.listPublishers, "ID", "Name"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Ngôn ngữ</label>
                @Html.DropDownList("iDLanguage", new SelectList(ViewBag.listLanguages, "ID", "Name"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Số trang</label>
                <input type="number"
                       class="form-control"
                       name="Page"
                       id="Page"
                       value="@Model.Page"
                       required
                       oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Vui lòng nhập đủ thông tin')" />
            </div>

            <div class="form-group">
                <label>Tổng số lượng</label>
                <input type="number"
                       class="form-control"
                       name="Quantity"
                       id="Quantity"
                       value="@Model.Quantity"
                       required
                       oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Vui lòng nhập đủ thông tin')" />
            </div>
            <div class="form-group">
                <label>Mô tả sách</label>
                <textarea type="text"
                          class="form-control"
                          name="Description"
                          id="Description"
                          rows="15">@Model.Description</textarea>
            </div>

            <button type="submit" class="btn btn-light col p-3" style="background-color:#ee4d2d;color:white;">Cập nhật thông tin</button>

        </div>
    </div>




</form>
<script>
    let oldId = -1
    const onFocusImg = (id) => {
        $("#imgBiaSach_" + id).css('opacity', 0.3);
        oldId = id
    }
    const onBlurImg = () => {
        $("#imgBiaSach_" + oldId).css('opacity', 1);
    }

  
</script>

@foreach (var img in Model.Images.ToList())
{
    <script>
        $('document').ready(function () {
            $("#file-input-@img.ID").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imgBiaSach_@img.ID').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>
}
