@{
    taka.Models.Enitities.User userInfo = (taka.Models.Enitities.User)Session[taka.Utils.C.SESSION.UserInfo];
    List<taka.Models.Enitities.Cart> carts = (List<taka.Models.Enitities.Cart>)Session[taka.Utils.C.SESSION.Cart];
}

<header style="background-color:#ee4d2d" role="banner">
    <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2021/BigSale1_header.png" class="" style="width:100%;cursor:pointer" onclick="window.location.href = '/Home'" />

    <div class="container">
        <nav class="nav float-right">
            @if (userInfo == null)
            {
                <button type="button" class="btn btn-light m-1" onclick="goToLoginPage()" style="color:#ee4d2d;">
                    <b>Đăng nhập</b>
                </button>
            }
            @if (userInfo != null && userInfo.ID.Equals(taka.Utils.C.ID_ADMIN))
            {
                <a href="/Admin/Book" class="btn btn-light m-1" style="color:#ee4d2d;">
                    <b>Quản lý hệ thống</b>
                </a>
                <a href="/Home/Logout" class="btn btn-danger m-1" style="border:2px solid #ffffff">
                    <b>Đăng xuất</b>
                </a>
            }
            @if (userInfo != null && !userInfo.ID.Equals(taka.Utils.C.ID_ADMIN))
            {
                <button type="button" onmousemove="showUserMenu()" class="btn btn-light m-1" style="color:#ee4d2d;">
                    <b>@userInfo.Fullname</b>
                </button>
                <div class="dropdown" onmousemove="showUserMenu()" onmouseout="hideUserMenu()" style="position:absolute;margin-top:38px;">
                    <div class="dropdown-menu" id="user-info" onmousemove="showUserMenu()">
                        <a href="/User/Purchased" class="dropdown-item">Đơn hàng</a>
                        <a href="/User/Infor" class="dropdown-item">Quản lý thông tin</a>
                        <a href="/Home/Logout" class="dropdown-item" style="color:red">Đăng xuất</a>
                    </div>
                </div>
            }
        </nav>
    </div>
    <div class="container pt-4 pb-4 mt-5" style="display:flex;justify-content:center;flex-direction:row">
        <a href="/" class="col-2" style="margin-top:-5px;display:flex;align-items:center">
            <img style="width:100%;min-height:40px;max-height:40px;object-fit:contain" src="~/Content/Icon/ic_icon.png" />
        </a>
        <div class="col-8 input-group" style="height:15px">
            <input name="text" type="text" class="form-control" placeholder="Đắc nhân tâm" value="@ViewBag.TextSearch" />
            <button onclick="getUrl({page:1})" class="btn btn-solid-primary btn-light" style="color:white;background-color:#ee4d2d;" type="submit">
                <ion-icon style="font-size:15px" name="search"></ion-icon>
            </button>
        </div>
        <a href="/User/ShoppingCart" style="position:relative;display: inline-block;" onmousemove="showPreviewCart()">
            <ion-icon class="m-1" style="font-size:30px; color:white" name="cart-outline"></ion-icon>
            @if (carts != null)
            {
                if (!carts.Count.ToString().Trim().Equals("0"))
                {
                    <b style="position:absolute;top:0%;right:0%;background-color:white;border-radius:30px;width:20px;height:20px;text-align:center;line-height:15px;border:1px solid #ee4d2d;color:#ee4d2d">
                        @carts.Count
                    </b>
                }
            }
        </a>
        @if (carts != null)
        {
            <div class="dropdown" onmouseout="hidePreviewCart()" onmousemove="showPreviewCart()" style="display:inline-block;margin: 0;position:absolute;width:500px;right:-80px;top:160px;z-index:99">
                <div class="dropdown-menu" id="previewCart">
                    @foreach (var cart in carts)
                    {
                    <a href="/Home/Detail?id=@cart.Book.ID" style="display:flex;flex-direction:row;padding:10px;text-decoration:none;color:#808080;align-items:center;justify-content:space-between">
                        <div style="display:flex;flex-direction:row;align-items:center;margin-right:20px;max-width:200px">
                            <img src="@cart.Book.Images.First().Url" style="width:80px;object-fit:contain;height:80px" />
                            <div>
                                @cart.Book.Title
                            </div>
                        </div>
                        <div style="display:flex;text-align:end;color:#ee4d2d">
                            @taka.Utils.HelperFunctions.formatMoney(cart.Book.Price)
                        </div>
                        <i style="margin-left:10px">
                            x @cart.Quantity
                        </i>
                    </a>
                    }
                </div>
            </div>
        }


    </div>

</header>
<script>
    let getUrl = () => {
        let text = $("input.form-control").val()
        let url = `/Home/List?text=${text}`
        window.location.href = url
    }
    $("input.form-control").on('keydown', (event) => {
        if (event.keyCode == 13)
            getUrl({ page: 1 })
    })

    let showUserMenu = () => {
        $('#user-info').show()
    }

    let hideUserMenu = () => {
        $('#user-info').hide()
    }

    let showPreviewCart = () => {
        if ($("a b").text().trim())
            $('#previewCart').show()
    }

    let hidePreviewCart = () => {
        $('#previewCart').hide()
    }

</script>