@model  taka.Models.Enitities.Book

@{
    ViewBag.Title = Model.Title;
    ViewBag.MessageForValid = "Vui lòng nhập đủ thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<taka.Models.Enitities.Image> images = new List<taka.Models.Enitities.Image>();

    images.AddRange(Model.Images.ToList());
}

<form class="form-horizontal" method="post" action="/Home/EditBook" enctype="multipart/form-data">
    <h4>Cập nhật thông tin</h4>
    <hr />
    <p>
        <h5>Ảnh bìa sách</h5>
    </p>

    <div style="display:flex;flex:1">
        <div class="m-3">
            <label for="file-input">
                <img src="https://cdn.pixabay.com/photo/2017/11/10/05/24/add-2935429_960_720.png" id="imgBiaSach" style="height:250px;width:150px;object-fit:contain;text-align:center;" />
            </label>
            <input id="file-input" name="BIA_SACH" type="file" hidden multiple accept="image/*" />
        </div>
        <div id="images" style="overflow-x:auto;height:300px;flex-direction:row;display:flex;overflow-y:hidden">
            @for (int i = 0; i < images.Count; i++)
            {
                <div onclick="deleteImage('@i')" class="m-3" style="position: relative; display: inline-block;" id="divBiaSach_@i" onmouseover="onFocusImg('@i')" onmouseout="onBlurImg()">
                    <img id="imgBiaSach_@i" src="@images[i].Url" style="height:250px;width:250px;object-fit:contain;text-align:center;" />
                    <div style="position: absolute; top: 100px; left: 100px; height: 100%; width: 100%; z-index: 2;"><img hidden='hidden' id="icDelete_@i" style="height:50px;width:50px;object-fit:contain;" src="/Content/Icon/ic_delete.png" /></div>
                </div>
            }
        </div>
    </div>
    <input class="form-control" name="MA_DAU_SACH" value="@Model.ID" hidden />
    <div class="col">
        <div class="col">
            <div class="form-group">
                <label>Tên đầu sách</label>
                <input type="text"
                       class="form-control"
                       name="Title"
                       id="Title"
                       value="@Model.Title"
                       required
                       oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('@ViewBag.MessageForValid')" />
            </div>
            <div class="form-group">
                <label>Giá tiền</label>
                <input type="number"
                       class="form-control"
                       name="Price"
                       id="Price"
                       value="@Model.Price"
                       required
                       oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('@ViewBag.MessageForValid')" />
            </div>
            <div class="form-group">
                <label>Thể loại</label>
                @Html.DropDownList("idCategory", new SelectList(ViewBag.listCategories, "ID", "Name"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Tác giả</label>
                @Html.DropDownList("idAuthor", new SelectList(ViewBag.listAuthors, "ID", "Name"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Nhà xuất bản</label>
                @Html.DropDownList("idPublisher", new SelectList(ViewBag.listPublishers, "ID", "Name"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Ngôn ngữ</label>
                @Html.DropDownList("iDLanguage", new SelectList(ViewBag.listLanguages, "ID", "Name"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Số trang</label>
                <input type="number"
                       class="form-control"
                       name="Page"
                       id="Page"
                       value="@Model.Page"
                       required
                       oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('@ViewBag.MessageForValid')" />
            </div>

            <div class="form-group">
                <label>Tổng số lượng</label>
                <input type="number"
                       class="form-control"
                       name="Quantity"
                       id="Quantity"
                       value="@Model.Quantity"
                       required
                       oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('@ViewBag.MessageForValid')" />
            </div>
            <div class="form-group">
                <label>Mô tả sách</label>
                <textarea type="text"
                          class="form-control"
                          name="Description"
                          id="Description"
                          rows="15">@Model.Description</textarea>
            </div>

            <button type="submit" class="btn btn-light col p-3" style="background-color:#ee4d2d;color:white;">Cập nhật thông tin</button>

        </div>
    </div>
</form>
<script>
    let oldId = -1
    const onFocusImg = (id) => {
        $("#imgBiaSach_" + id).css('opacity', 0.3);
        $("#imgBiaSach_" + id).css('border', '2px solid #ee4d2d')
        $("#icDelete_" + id).removeAttr('hidden');
        oldId = id
    }
    const onBlurImg = () => {
        $("#imgBiaSach_" + oldId).css('opacity', 1);
        $("#imgBiaSach_" + oldId).css('border', '0px')
        $("#icDelete_" + oldId).attr('hidden', 'hidden');
    }

    let deleteImage = id => {
        $("#divBiaSach_" + id).remove();
    }
</script>

<script>
    let imgCount = 0;
    $('document').ready(function () {
        $("#file-input").change(function () {
            if (this.files && this.files.length > 0) {
                for (let i = 0; i < this.files.length; i++) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $("#images").append(`<div onclick="deleteImage('${imgCount}')" class="m-3" style="position: relative; display: inline-block;" id="divBiaSach_${imgCount}" onmouseover="onFocusImg('${imgCount}')" onmouseout="onBlurImg()">
    <img id="imgBiaSach_${imgCount}" style="height:250px;width:250px;object-fit:contain;text-align:center;" />
    <div style="position: absolute; top: 100px; left: 100px; height: 100%; width: 100%; z-index: 2;"><img hidden='hidden' id="icDelete_${imgCount}" style="height:50px;width:50px;object-fit:contain;" src="/Content/Icon/ic_delete.png" /></div>
</div>`)
                        $('#imgBiaSach_' + imgCount).attr('src', e.target.result);
                        imgCount += 1
                    }
                    reader.readAsDataURL(this.files[i])
                }
            }
        });
    });
</script>